body{
    margin: 0px;
    padding: 0px;
    background: #e4e4e4;
}

.main_grid{
    width: 60%;
    margin: 0 auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100px auto;
    grid-gap: 10px;
    grid-template-areas:
    "title title"
    "grid_L grid_R";
}

.grid_L{
    display: grid;
    width: 100%;
    grid-template-rows: 250px 300px;
    grid-gap: inherit;
    grid-template-areas:
    "info"
    "kontakt";
}

.grid_R{
    display: grid;
    width: 100%;
    grid-template-rows: 600px 350px;
    grid-gap: inherit;
    grid-template-areas:
    "edukacja"
    "praca"
}

.title{
    grid-area: title;
}

.kontakt{
    grid-area: kontakt;
}

.info{
    grid-area: info;
}

.edukacja{
    grid-area: edukacja;
}

.praca{
    grid-area: praca;
}

.back{
    border: 2px;
    border-style: solid;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .main_grid{
        width: 85%;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto auto;
        grid-template-areas:
            "title"
            "grid_L"
            "grid_R";
            }

    .grid_L{
        grid-template-columns: 1f 1f;
        grid-template-rows: 250px;
        grid-template-areas:
            "info kontakt";
    }

    .grid_R{
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px;
        grid-template-areas:
            "praca"
            "edukacja";
    }

}
