* { margin: 0;
   padding: 0 
}


body{
  background: #f8f8f8;
}
  
::selection {
    background: #ffd966; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffd966; /* Gecko Browsers */
}



#content{
margin: 10%;
margin-top: 15%;
}

h1{
  font-family: 'Barlow Semi Condensed';
  font-size: 100px;
}

h2{
  font-family: 'Barlow Semi Condensed';
  font-weight: 500;
  font-size: 50px;
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover{
  background: #ffd966;
}
